body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding-left: 20px;
    /* Define o padding esquerdo */
    padding-right: 20px;
    /* Define o padding direito */
}

.background-img {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5px;
    width: 100%; /* Aumentar o valor para ocupar toda a largura disponível */
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: underline;
    color: blue;
}
#mais1, #mais2, #mais3, #mais4, #mais5, #mais6, #mais7, #mais8, #mais9, #mais10 {
  display: none;
}
 
#mensagemErroEstudante {
    display: none;
}

#mensagemErroProfessor {
    display: none;
}

.my-custom-style {
    margin-top: 6px;
}

#respostasButton{
    margin-top: 20px;
    margin-bottom: 30px;
}

.letter-a {
    font-size: 48px; /* Tamanho da letra "A" */
    line-height: 1.2; /* Espaçamento entre linhas */
    display: inline-block;
    color: #67260E;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.introduction p::first-letter {
    font-size: 3rem;
    font-weight: bold;
    color: #67260E;
    text-transform: uppercase;
    margin-top: -.2rem;
    margin-left: 1rem;
    padding-right: 1rem;
    float:left;
}

.introduction::first-letter {
    font-size: 200%;
}

.introduction {
    margin-bottom: 40px;
}


.form-check-input {
    float: left;
    margin-right: 5px;
}

.question textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
}

.commitment {
    margin-bottom: 30px;
}

.commitment textarea {
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
}

.dadosParticipantes textarea {
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
}

.form-control textarea {
    margin-bottom: 10px;
    width: 50%;
    height: 60px;
}

.leiaMais {
    margin-top: 10px;
}

.recap textarea {
    width: 100%;
    height: 100px;
}

.recap {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.recap p {
    margin-bottom: 20px;
}

.drop-area {
    border: 1px dashed #aaa;
    background-color: #a2e5f8;
    border-radius: 4px;
    padding: 10px;
    margin-top: 14px;
    max-width: 400px;
    word-wrap: break-word;
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    transition: background-color 0.4s;
    font-size: inherit;
    /* Adicionando esta linha */
}





.drop-area.green {
    background-color: rgb(98, 240, 85);
}

.drop-area.success {
    background-color: lightgreen;
    border-color: green;
}

.flex-row {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.selected-word {
    padding: 0px 20px;
    background-color: #a2e5f8;
    border: 1px solid #dddddd;
    border-radius: 4px;
    cursor: move;
    display: inline-block;
    margin: 5px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}


#buttonMais1,
#buttonMais2,
#buttonMais3,
#buttonMais4,
#buttonMais5,
#buttonMais6,
#buttonMais7,
#buttonMais8,
#buttonMais9,
#buttonMais10 {
    margin-bottom: 30px;
}

.question input {
    width: 20px;
    /* Largura inicial do campo */
    min-width: 100px;
    /* Largura mínima do campo */
}

.question-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #67260E;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-right: 10px;
}

/* Estilos para o contêiner do vídeo */
.player-container {
    width: 90%;
    /* Largura de 80% em dispositivos maiores */
    max-width: 640px;
    /* Largura máxima em pixels */
    margin: 0 auto;
    /* Centralizar horizontalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilos para tornar o contêiner responsivo em dispositivos móveis */
@media only screen and (max-width: 600px) {
    .player-container {
        width: 100%;
        /* Largura de 100% em dispositivos móveis */
    }
}

/* Estilos para o vídeo */
.player-container iframe {
    max-width: 100%;
    /* Ajuste de tamanho em dispositivos móveis */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .reflexao strong {
    color: #67260E;
    text-align: center;
    line-height: 30px;
    }

    .reflexao p{
        margin-top: 20px;
        margin-bottom: 20px;
    }







