  body {
    background-color: #99D3EC; /* Branco como a neve */
    position: relative;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  #mensagemCopiado {
    display: none;
  }
  
  #mensagemCopiado.show {
    display: block;
  }

  .show {
    display: block !important;
  }


  