.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .message-instant {
    font-size: 12px;
    color: green;
    margin-left: 10px;
    display: none;
  }

  body {
    background-color: #99D3EC; /* Branco como a neve */
    position: relative;
  }
  