  body {
    background-color: #99D3EC;
    position: relative;
  }

  h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #082bf3;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL'0,
      'wght'400,
      'GRAD'0,
      'opsz'48
  }

  #mensagemCopiado {
    display: none;
  }

  #mensagemCopiado.show {
    display: block;
  }

  .show {
    display: block !important;
  }

  .progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  #btnGerar:hover,
  #btnEncurtar:hover,
  #btnCopiar:hover,
  #btnReset:hover,
  #btnAbrir:hover,
  #btnWhatsapp:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    /* Adicione esta linha */
  }

  #btnGerar {
    color: white;
    font-size: 15px;
    background-color: #009B9B;
    border-radius: 10px;
    /* Adicione esta linha */
  }

  #btnEncurtar {
    color: white;
    font-size: 15px;
    background-color: tomato;
    border-radius: 10px;
    /* Adicione esta linha */
  }

  #btnCopiar {
    color: white;
    font-size: 15px;
    background-color: orange;
    font-size: 15px;
    border-radius: 10px;
    /* Adicione esta linha */
  }

  #btnReset {
    color: white;
    font-size: 15px;
    background-color: gray;
    font-size: 15px;
    border-radius: 10px;
    /* Adicione esta linha */
  }

  #btnAbrir {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: blue;
    font-size: 15px;
    border-radius: 10px;
    /* Adicione esta linha */
  }

  #btnWhatsapp {
    color: white;
    font-size: 15px;
    background-color: green;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* Adicione esta linha */
  }

  .container_rodape {
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: #333;
    text-align: center;
}

footer {
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 15px;
}


.whats {
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 9999;
}

  @media screen and (max-width: 768px) {

    .container_rodape {
      font-size: 13px;
    }

    footer {
      font-size: 11px;
    }

    .whats {
      bottom: 20px;
      right: 10px;
    }

  }